<h4>Is there a landfill in the image?</h4>
<div style="container width: 900px;">
    <div class="pic" style="float: left; width: 700px;"><img src="{{image.url}}" alt="Sample image"></div>
</div>
<button type="button" class=" btn1 btn btn-success">Yes</button>
<button type="button" class="btn2 btn btn-danger">No</button>

<script>
    $(document).ready(function () {
        $(".btn1").click(function () {
            $.post("/operateSelectionImage", {
                    token: '{{token}}',
                    imageId: '{{image._id}}',
                    taskId: '{{task._id}}',
                    answer: true
                },
                function (data, status) {
                    alert("Data: " + data + "\nStatus: " + status);
                });
        });
        $(".btn2").click(function () {
            $.post("/operateSelectionImage", {
                    token: '{{token}}',
                    imageId: '{{image._id}}',
                    taskId: '{{task._id}}',
                    answer: false
                },
                function (data, status) {
                    alert("Data: " + data + "\nStatus: " + status);
                });
        });
    });

</script>